<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
	<form type="POST" action="/save">
	<h3>Please input item name:</h3>
	<input type="text" name="item">
	<br />
	<h3>Please input amount:</h3>
	<input type="text" name="amount">
	<input type="submit" value="OK!">
	</form>
</body>
</html>
